ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
ul li{
  display: inline-block;
}
H1{
  font-size: 24px;
  border-bottom: solid 1px #CCCCCC;
}
.small ul>li{
  color: #50b6ff;
  clear: both;
}
/*templates split with ','*/
.small ul>li:not(:last-child):after{
  content: ',';
}
.inline{
  float: left;
  margin-top: 25px;
}
.inline:not(:last-child){
  margin-right: 30px;
}
.content{
  height: 220px;
  overflow: auto;
}
.content table,.result table{
  background: #CCCCCC;
}
.content table td,.result table td{
  text-align: center;
  background: #ffffff;
}
.content ul li:not(:last-child){
  border-right: solid 1px #CCCCCC;
}
.tip{
  text-align: center;
  color: red;
}
.info{
  margin-top: 30px;
  color: #50b6ff;
}
#content{
  width: 860px;
}
.result table{
  margin-top: 30px;
}
.result table td{
  padding: 2px 15px;
}
#resultChart {
  height:300px;
  width: 860px;
  margin: 30px 0;
}
